<a href="https://colab.research.google.com/github/Jenny000327/Python_Study/blob/main/Computational_physics02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1주차

## 원주율 구하기

---

1. 500항 까지 더해서 계산
2. |Sn -S(n-1)| < 10e-7 이면 stop
3. |Sn -S(n-1)| < 10e-12 이면 stop

In [ ]:
import math

In [ ]:
pi = 0
for i in range(1,501): # 1부터 500까지
    pi += 1/pow(i,2)
print(math.sqrt(6*pi))

3.139684123138722

In [ ]:
number = float(input())

pi = 0
i = 1
while True:
    pi += 1/pow(i,2)
    if (1/pow(i,2)) < number:
        result = math.sqrt(6 * pi)
        break
    i += 1

print(result)

10e-12
3.1415896338426545

## 소수  (prime number) 구하기

In [ ]:
n = int(input())

prime_num = list(range(2,n+1))  #1은 소수가 아님. 2부터 n까지 리스트에 저장
for i in range(2, int(math.sqrt(n))+1):
    for j in prime_num[:]:
        if not j % i and j != i:    #j가 i로 나누어 떨어지고, i가 j와 같지 않다면
            prime_num.remove(j)    #리스트에서 j 제거
print(len(prime_num))   #남은 리스트의 길이 반환
print(prime_num)

1000
168
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [ ]:
n = int(input())

def prime(num):
    if num < 2:
        return False
    for i in range(2, int(math.sqrt(num))+1):
        if num % i == 0:
            return False
    return True

#__main__
for i in range(2,n):
    if prime(i):
        print(i)

1000
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

# 3월22일

## pi계산

### 1) 500까지

In [8]:
import math
pi = 0
n =500

for i in range(1,n+1): # 1부터 n까지
    pi += 1/pow(i,2)
print(math.sqrt(6*pi))

3.139684123138722

### 2) 10e-7 정확도 
### 3) 변화량이 10e-7 작을때 

( 몇번째 항까지 더했는지 )

In [9]:
import math

number = float(input())

pi = 0
i = 1
term = 0

while True:
    if term % 20 == 0:
        print(f"항: {term} 결과: {math.sqrt(6 * pi)}")
        #print(math.sqrt(6 * pi))

    pi += 1/pow(i,2)
    term += 1
    if (1/pow(i,2)) < number:
        result =  math.sqrt(6 * pi) 
        break
    i += 1

print(term)
print(result)

10e-6
항: 0 결과: 0.0
항: 20 결과: 3.094669524113704
항: 40 결과: 3.117926198299378
항: 60 결과: 3.1257692021405243
항: 80 결과: 3.129707845474619
항: 100 결과: 3.1320765318091053
항: 120 결과: 3.133657951297018
항: 140 결과: 3.1347886619402168
항: 160 결과: 3.135637310731367
항: 180 결과: 3.1362977360068847
항: 200 결과: 3.136826306330968
항: 220 결과: 3.137258925140503
항: 240 결과: 3.1376195454651565
항: 260 결과: 3.1379247600627806
항: 280 결과: 3.1381864268097726
항: 300 결과: 3.1384132451584086
317
3.138583562519263

### Monte Carlo

In [6]:
import random

def estimate_pi(n):
    num_points_in_circle = 0
    num_points_total = n
    for _ in range(int(n)):
        x = random.uniform(0, 1)
        y = random.uniform(0, 1)
        if (x**2 + y**2) < 1:
            num_points_in_circle += 1
    return 4 * num_points_in_circle / num_points_total

num = float(input())
print(estimate_pi(num))

100000000
3.1418596

### Machin's formula

pi / 4 = 4 * arctan(1/5) - arctan(1/239)

테일러 급수 

arctan(x) = x - x^3 / 3 + x^5 / 5 - x^7 / 7 + ...

In [7]:
import math

def arctan(x, terms=1000):
    result = 0
    for n in range(terms):
        sign = (-1)**n
        term = x**(2*n + 1) / (2*n + 1)
        result += sign * term
    return result

def estimate_pi():
    term1 = 4 * arctan(1/5)
    term2 = arctan(1/239)
    return 4 * (term1 - term2)

result = estimate_pi()
print(f"결과: {result}, 오차: {abs(math.pi - result)}")

결과: 3.141592653589794, 오차: 8.881784197001252e-16

## 2. 소수 구하기
(  ,  ) 안에 있는것 
ex) 3821~5190 사이의 소수구하기

In [3]:
import math
def prime(num):
    if num < 2:
        return False
    for i in range(2, int(math.sqrt(num))+1):
        if num % i == 0:
            return False
    return True

def func(n, m):
    primes = []
    for i in range(n,m+1):
        if prime(i):
            primes.append(i)
    return primes


#__main__
n,m = map(int, input().split())
primes = func(n,m)
print(primes)

3821 5190
[3821, 3823, 3833, 3847, 3851, 3853, 3863, 3877, 3881, 3889, 3907, 3911, 3917, 3919, 3923, 3929, 3931, 3943, 3947, 3967, 3989, 4001, 4003, 4007, 4013, 4019, 4021, 4027, 4049, 4051, 4057, 4073, 4079, 4091, 4093, 4099, 4111, 4127, 4129, 4133, 4139, 4153, 4157, 4159, 4177, 4201, 4211, 4217, 4219, 4229, 4231, 4241, 4243, 4253, 4259, 4261, 4271, 4273, 4283, 4289, 4297, 4327, 4337, 4339, 4349, 4357, 4363, 4373, 4391, 4397, 4409, 4421, 4423, 4441, 4447, 4451, 4457, 4463, 4481, 4483, 4493, 4507, 4513, 4517, 4519, 4523, 4547, 4549, 4561, 4567, 4583, 4591, 4597, 4603, 4621, 4637, 4639, 4643, 4649, 4651, 4657, 4663, 4673, 4679, 4691, 4703, 4721, 4723, 4729, 4733, 4751, 4759, 4783, 4787, 4789, 4793, 4799, 4801, 4813, 4817, 4831, 4861, 4871, 4877, 4889, 4903, 4909, 4919, 4931, 4933, 4937, 4943, 4951, 4957, 4967, 4969, 4973, 4987, 4993, 4999, 5003, 5009, 5011, 5021, 5023, 5039, 5051, 5059, 5077, 5081, 5087, 5099, 5101, 5107, 5113, 5119, 5147, 5153, 5167, 5171, 5179, 5189]